.portada {
  background: url("../IMG/portada.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 87vh;
  text-align: center;
  padding: 300px 20px;
}


